.leftPane {
    position: fixed;
    z-index: 1;
    background-color: #1b1c1d;
    width: 250px;
    flex: 0 0 auto;
}

.mainContainer {
    flex: 1 1 auto;
    min-width: 0;
    margin-left: 250px;
}

.topBanner {
    margin: 0 !important;
    border-radius: 0 !important;
}

#dashboard,
#categories,
#settings {
    display: none;
}

#dashboard:target,
#categories:target,
#settings:target {
    display: block;
}